.avatar-show-img{
    width: 128px;
    height: 128px;
}

.well.profile-block{
    color: #fff;
    h3{
        margin-top: 0;
    }
}

.well.profile-description{
    background-color: #095246;
    border-color: #094C41;
}

.well.profile-contact-info{
    background-color: #13A38B;
    border-color: #129983;
}